Frontend/Aotms_chatbot.json
{
  "name": "Aotms_chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Aotms_chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        608
      ],
      "webhookId": "Aotms_chatbot",
      "id": "fbd927b4-f4f7-4ac7-970a-7c01de32603b"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseBody": "={\n  \"output\": \"{{ $json.output }}\"\n}"
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        672,
        608
      ],
      "id": "3cf60f44-3fa0-4ba7-bbd5-81300fd5dd22"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the AI Assistant for Academy of Tech Masters (AOTMS). Answer student queries about courses like Data Science, Java Full Stack, Cybersecurity, Embedded Systems, and DevOps. Provide helpful enrollment advice. Address the user by their name if context allows."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        608
      ],
      "id": "c5edeb87-08d0-4cb5-ac68-7ea3701d4224",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openrouter/auto",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        880
      ],
      "id": "15016b3c-de37-40b3-8f22-c70173ade9e8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ApSWGVgvHZIP0EGR",
          "name": "OpenRouter account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b9c0dba6-e899-471f-9f5a-8d0d0f0a95ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac53766b75ba98327cb8367953362c144cd1e7b33149a3b252d1556380af54e8"
  },
  "id": "rn1ssDXXaM1HEzVM",
  "tags": []
}